@charset "utf-8";
/* CSS Document */

h2 {text-align: center;
	text-style: "Playfair Display";
}

.top-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
}

<!--
body {
    margin: 0;
}

.full-width-line {
    width: 100vw; /* 100% of the viewport width */
    border: none;
    height: 2px; /* You can adjust the height as needed */
    background-color: black; /* Change the color if necessary */
}


